
<header>
  <div class="wrapper">
    <div class="top-wrapper"><a href="/auth/join">JOIN</a><a href="/auth/login">LOGIN</a><a href="/auth/logout">LOGOUT</a></div>
    <div class="header-wrapper">
      <h1 class="logo-wrapper"><a href="/"> 
          <div class="img-wrap"><img class="w-100" src="/img/booldook.png"/></div><span>BOOLDOOK</span></a></h1>
      <div class="navi-wrapper"><a class="navi" href="/board">BOARD</a><a class="navi" href="/api">API BOARD</a><a class="navi" href="/gallery">GALLERY</a></div>
    </div>
  </div>
</header>